body {
  background-image: url("assets/bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: "Montserrat", sans-serif;
  color: #85796b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
  background-color: rgba(109, 127, 151, 0.5);
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  margin-left: 80px;
  margin-top: 50px;
}
